.btn {
  margin: 20px 0; }

table .btn {
  margin: 0; }

#header_inner {
  display: flex;
  align-items: center;
  padding: 5px;
  vertical-align: middle; }
  #header_inner img {
    display: inline-block; }
  #header_inner h1 {
    font-size: 20px;
    display: inline-block; }
